@import "variables";

html * {
  font-family: 'Roboto', serif;
  font-size: 28px;
  color: $base-color;
}

body {
  display: grid;
  grid-template-rows: 150px auto 60px;
  grid-template-areas: "hd" "main" "ft";
  box-sizing: border-box;
  background-color: $base-background-color-secondary;
}

h1 {
  font-weight: 700;
  font-size: 2.1em !important;
  line-height: 1.2em;
  color: $base-flora-white-color;
}

h2 {
  font-weight: 500;
  font-size: 1.2em !important;
  line-height: 2em;
}

button {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid $base-color;
  border-radius: 3px;
}

.box {
  display: block;
  box-sizing: border-box;
}

.card {
  border: 1px solid $base-color;
  border-radius: 3px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.card-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid $base-color;
}

.card-footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 15px;
  border-top: 1px solid $base-color;
}

.card-modal {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  background-color: $base-background-color-secondary;
}

.card-center {
  align-items: center;
}

// modal
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.display-none {
  display: none !important;
}

// Clickable
.clickable {
  cursor: pointer;
}

// loading spinner (https://loading.io/)
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
}

.lds-text {
  color: #fff;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 50px;
    left: 50px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}

@media (min-width: 600px) {

  html * {
    font-size: 24px;
  }

  .card-modal {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: calc(50% - 250px);
    transform: translateX(-50%);
    transform: translateY(-50%);
    width: 600px;
    background-color: $base-background-color-secondary;
  }
}

