@import "variables";


.card {
  position: relative;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid $base-color;
  border-radius: 3px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  background-color: $base-flora-white-color;
}

.card-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid $base-color;
}

.card-footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 15px;
  border-top: 1px solid $base-color;
}

.card-modal {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  background-color: $base-background-color-secondary;
}

.card-center {
  align-items: center;
}

.clear-btn {
  margin-top: 15px;

  & * {
    font-size: 0.7em !important;
  }
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.card-list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 15px 15px;
  border-bottom: 1px solid $base-color;
}

.travel-data {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  border-bottom: 1px solid $base-color;
}

.travel-information {
  margin: 0;
  line-height: 1.2em;
}

.travel-information-key {
  font-weight: 700;
  font-size: 0.9em;
}

.travel-information-value {
  font-size: 0.8em;
}

.weather-data {
  width: calc(100vw - 42px);
  position: relative;
  min-height: 250px;
  background-color: white;
}

.city-img > img {
  max-width: 350px;
  width: 100%;
}

.card-ribbon {
  font-size: .8em;
  visibility: hidden;
  line-height: 18px;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: absolute;
  padding: 7px 0;
  right: -47px;
  top: 41px;
  width: 210px;
  background-color: $base-color;
  color: $base-flora-white-color;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  letter-spacing: 0.5px;

  &:before, &:after {
    content: "";
    border-top: 4px solid $base-color;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    bottom: -4px;
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }
}

.past-date {
  .card-ribbon {
    visibility: visible;
  }

}

@media (min-width: 600px) {

  .card-modal {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: calc(50% - 300px);
    transform: translateX(-50%);
    transform: translateY(-50%);
    width: 600px;
    background-color: $base-background-color-secondary;
  }
}

@media (min-width: 900px) {

  .card {
    overflow: visible;
  }

  .card-ribbon {
    font-size: 1em;
  }

  .travel-data {
    flex-direction: row;
  }

  .travel-information {
    margin-left: 15px;
  }

  .weather-data {
    max-width: $contentMaxWidth;
    width: 100%;
  }

}



