@import "variables";

input {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid $base-color;
  border-radius: 3px;
  padding: 5px;

}

.form-group {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.form-label {
  box-sizing: border-box;
  width: 40%;
}

.form-input, .form-autocomplete {
  position: relative;
  box-sizing: border-box;
  width: 60%;
}

.form-input-required {
  color: red;
}

.form-autocomplete {
  position: relative;
}

.autocomplete-list {
  display: block;
  position: absolute;
  padding: 0px 5px;
  width: 100%;
  background: white;
  z-index: 2;
  border: 1px solid $base-color;

  & > div:not(:last-child) {
    border-bottom: 1px solid $base-color;
  }
}

.autocomplete-item {
  line-height: 2em;
  font-size: 0.7em;
  cursor: pointer;
}

// Input loader
.input-loader {
  position: absolute;
  right: 10px;
  top: calc(50% - 10px);
}
.loader {
  position: relative;
  height: 20px;
  width: 20px;
  display: inline-block;
  animation: around 5.4s infinite;
}

@keyframes around {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

.loader::after, .loader::before {
  content: "";
  background: white;
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-width: 2px;
  border-color: #333 #333 transparent transparent;
  border-style: solid;
  border-radius: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  animation: around 0.7s ease-in-out infinite;
}

.loader::after {
  animation: around 0.7s ease-in-out 0.1s infinite;
  background: transparent;
}
