@import "variables";

input {
  border: 1px solid $base-color;
  border-radius: 3px;
  padding: 5px;
}

.form-group {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.form-label {
  box-sizing: border-box;
  width: 40%;
}

.form-input {
  box-sizing: border-box;
  width: 60%;
}

.form-input-required {
  color: red;
}
