@import "variables";

header {
  grid-area: hd;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(180deg, $base-background-color 80%, $base-background-color-secondary);

}

.header {
  max-width: $contentMaxWidth;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  //border-bottom: 1px solid $base-color;
}

.title {
  margin-left: 20px;
  color: $base-color;
}

.logo {
  & img {
    width: 120px;
  }
}
